In [1]:
import pandas as pd
import re

In [2]:
# Load from my JSON
df = pd.read_json('../data/songs.json')
df.set_index('title', inplace=True)

In [3]:
df.head(n=3)

,albums,author,lyrics,url
title,,,,
‘Cross The Green Mountain,"[The Bootleg Series, Vol 8: Tell Tale Signs]",,,https://bobdylan.com/songs/cross-green-mountain/
‘Til I Fell In Love With You,[Time Out Of Mind],Bob Dylan,"Well, my nerves are exploding and my body’s te...",https://bobdylan.com/songs/til-i-fell-love-you/
"10,000 Men",[Under The Red Sky],Bob Dylan,Ten thousand men on a hill\r\nTen thousand men...,https://bobdylan.com/songs/10000-men/

### Find Cities

In [4]:
city_meta_df = pd.read_csv(
    '../data/simplemaps-worldcities-basic.csv')

In [5]:
city_df_set = (
    city_meta_df
    .sort_values(by=['city','pop'])
    .drop_duplicates(subset='city', keep='last')
    .set_index('city', verify_integrity=True))

In [6]:
city_df_set.sample(n=5)

,city_ascii,lat,lng,pop,country,iso2,iso3,province
city,,,,,,,,
Mao,Mao,19.551996,-71.074997,48297.0,Dominican Republic,DO,DOM,Valverde
Libreville,Libreville,0.385389,9.457965,530755.5,Gabon,GA,GAB,Estuaire
Kashgar,Kashi,39.476336,75.969926,472069.5,China,CN,CHN,Xinjiang Uygur
Nautla,Nautla,20.216581,-96.783354,2653.5,Mexico,MX,MEX,Veracruz
Qapshaghay,Qapshaghay,43.884387,77.068722,40319.5,Kazakhstan,KZ,KAZ,Almaty

In [7]:
def get_cities(word_list):
    cities = []
    for word in word_list:
        if word in city_df_set.index:
            cities.append(word)
    return list(set(cities))

In [52]:
def n_grams(word_list, n=2):
    grams = []
    for i in range(0, len(word_list)-n+1):
        gram = ' '.join(word_list[i:i+n])
        grams.append(gram)
    return grams

In [53]:
def extract_cities(text):
    cap_words = re.findall('([A-Z][a-z]+)', text)
    two_grams = n_grams(cap_words, n=2)
    return get_cities(cap_words) + get_cities(two_grams)

In [54]:
def show_lyrics(title):
    return df.loc[title, 'lyrics']

### Places to remove

- Orleans and New Orleans, San and San Francisco
- Mercedes? (angelina)
- San Anton’

Look at:
- dusty old fairgrounds

In [142]:
song = 'Tangled Up In Blue'

with open('lyrics.txt', 'w') as file:
    file.write(show_lyrics(song))